/* Calculadora */
.calculadora {
  height: min-content;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.data_form {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.hiden {
  display: none;
}

.btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

button {
  background-color: #3c6e71;
  color: #fff;
  font-size: 12px;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  width: 20%;
}

button:hover {
  background-color: #0d1d27;
}

/* Estilos específicos para .button-group-custom */
.button-group-custom {
  display: flex;
  gap: 20px; /* Aumenta o espaçamento entre os botões */
}

.button-group-custom > .custom-btn {
  padding: 10px 30px; /* Aumenta o tamanho horizontal */
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  background-color: #3c6e71;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  width: auto; /* Remove largura fixa */
  white-space: nowrap; /* Impede quebra de linha */
}

.button-group-custom > .custom-btn:hover {
  background-color: #0d1d27;
}

* Tabela estilo */ .tabela {
  max-height: 400px;
  overflow: scroll;
}

.tabela::-webkit-scrollbar {
  width: 20px;
}

.tabela::-webkit-scrollbar-thumb {
  border-radius: 50px;
  border: 4px solid #ededed;
  background: #26485f;
}

.tabela ::-webkit-scrollbar-track {
  /* fundo */
  border-radius: 50px;
}

.tabela::-webkit-scrollbar-corner {
  background-color: transparent;
}

table {
  min-width: 600px;
  /* margin: 20px auto; */
  border-collapse: collapse;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.linha {
  border: none;
  border-top: 1px solid #003d7e;
  border-bottom: 5px dotted #003d7e;
  border-left: 5px solid transparent;
  padding: 15px;
  text-align: left;
}

th {
  background-color: #003d7e;
  border-left: 5px solid #003d7e;
  color: #ffffff;
}

/* Hover effect on table rows */
tr:hover {
  background-color: #e9ecef;
  transition: background-color 0.3s ease-in-out;
}

tr:hover td {
  background-color: #dcdcdc;
}